<div class="w3-row w3-margin">
	<div class="w3-quarter w3-container margin-bottom" ng-repeat = "project in data">
		<div class="w3-card-4">
			<header class="w3-container w3-light-grey">
				<a style="text-decoration: none" href="#!/project-details"><h4>{{project.name}}</h4></a>
			</header>
			<div class="w3-container">
				<p>
					By 
					<b>{{project.company}}</b>
				</p>
				<hr>
				<p>{{project.description}}</p><br>
				<b>Venue:</b> NUST <br>
				<b>Date:</b> 20-Aug-17  -  21-Aug-17 <br>
				<b>Time: </b> 12:00 AM  -  01:00 PM  <br>
				<b>Required Volunteers: </b> 10  <br>			</div> 
			<button class="w3-button w3-block w3-dark-grey margin-top">+ Volunteer</button>
		</div>
	</div>
</div>