<body class="w3-theme-l5">

	<!-- Navbar -->


	<!-- Page Container -->
	<div class="w3-container w3-content margin-top" style="max-width:1400px;">
		<!-- The Grid -->
		<div class="w3-row">
			<!-- Left Column -->
			<div class="w3-col m3">
				<!-- Profile -->
				<div class="w3-card-2 w3-round w3-white">
					<div class="w3-container">
						<h4 class="w3-center">Microsoft</h4>
						<p class="w3-center"><img src="/img/logos/logo3.png" class="w3-circle" style="height:106px;width:106px" alt="Avatar"></p>
						<hr>
						<p><i class="fa fa-pencil fa-fw w3-margin-right w3-text-theme"></i> Organization for SOS</p>
						<p><i class="fa fa-home fa-fw w3-margin-right w3-text-theme"></i> London, UK</p>
					</div>
				</div>
				<br>

				<!-- Accordion -->
				<div class="w3-card-2 w3-round">
					<div class="w3-white">
						<button onclick="myFunction('Demo1')" class="w3-button w3-block w3-theme-l1 w3-left-align"><i class="fa fa-circle-o-notch fa-fw w3-margin-right"></i>Badge 1</button>
						<div id="Demo1" class="w3-hide w3-container">
							<p>Some text..</p>
						</div>
						<button onclick="myFunction('Demo2')" class="w3-button w3-block w3-theme-l1 w3-left-align"><i class="fa fa-calendar-check-o fa-fw w3-margin-right"></i>Badge 2</button>
						<div id="Demo2" class="w3-hide w3-container">
							<p>Some other text..</p>
						</div>
						<button onclick="myFunction('Demo3')" class="w3-button w3-block w3-theme-l1 w3-left-align"><i class="fa fa-users fa-fw w3-margin-right"></i>Badge 3</button>
						<div id="Demo3" class="w3-hide w3-container">
							<div class="w3-row-padding">
								<br>
								<div class="w3-half">
									<img src="https://www.w3schools.com/w3images/lights.jpg" style="width:100%" class="w3-margin-bottom">
								</div>
								<div class="w3-half">
									<img src="https://www.w3schools.com/w3images/nature.jpg" style="width:100%" class="w3-margin-bottom">
								</div>
								<div class="w3-half">
									<img src="https://www.w3schools.com/w3images/mountains.jpg" style="width:100%" class="w3-margin-bottom">
								</div>
								<div class="w3-half">
									<img src="https://www.w3schools.com/w3images/forest.jpg" style="width:100%" class="w3-margin-bottom">
								</div>
								<div class="w3-half">
									<img src="https://www.w3schools.com/w3images/nature.jpg" style="width:100%" class="w3-margin-bottom">
								</div>
								<div class="w3-half">
									<img src="https://www.w3schools.com/w3images/fjords.jpg" style="width:100%" class="w3-margin-bottom">
								</div>
							</div>
						</div>
					</div>
				</div>
				<br>

				<!-- Interests -->
				<div class="w3-card-2 w3-round w3-white w3-hide-small">
					<div class="w3-container">
						<p>Interests</p>
						<p>
							<span class="w3-tag w3-small w3-theme-d5">News</span>
							<span class="w3-tag w3-small w3-theme-d4">W3Schools</span>
							<span class="w3-tag w3-small w3-theme-d3">Labels</span>
							<span class="w3-tag w3-small w3-theme-d2">Games</span>
							<span class="w3-tag w3-small w3-theme-d1">Friends</span>
							<span class="w3-tag w3-small w3-theme">Games</span>
							<span class="w3-tag w3-small w3-theme-l1">Friends</span>
							<span class="w3-tag w3-small w3-theme-l2">Food</span>
							<span class="w3-tag w3-small w3-theme-l3">Design</span>
							<span class="w3-tag w3-small w3-theme-l4">Art</span>
							<span class="w3-tag w3-small w3-theme-l5">Photos</span>
						</p>
					</div>
				</div>
				<br>

				<!-- Alert Box -->
				<div class="w3-container w3-display-container w3-round w3-theme-l4 w3-border w3-theme-border w3-margin-bottom w3-hide-small">
					<span onclick="this.parentElement.style.display='none'" class="w3-button w3-theme-l3 w3-display-topright">
				  <i class="fa fa-remove"></i>
				</span>
					<p><strong>Hey!</strong></p>
					<p>People are looking at your profile. Find out who.</p>
				</div>

				<!-- End Left Column -->
			</div>

			<!-- Middle Column -->
			<div class="w3-col m7">


				<div class="w3-container w3-card-2 w3-white w3-round w3-margin" style="margin-top: 0px!important;"><br>
					<img src="/img/logos/logo3.png" alt="Avatar" class="w3-left w3-circle w3-margin-right" style="width:60px">
					<span class="w3-right w3-opacity">1 min</span>
					<h4>Voulenteers for SOS</h4><br>
					<hr class="w3-clear">
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
						aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
					<div class="w3-row-padding" style="margin:0 -16px">
						<div class="w3-half">
							<img src="https://www.w3schools.com/w3images/lights.jpg" style="width:100%" alt="Northern Lights" class="w3-margin-bottom">
						</div>
						<div class="w3-half">
							<img src="https://www.w3schools.com/w3images/nature.jpg" style="width:100%" alt="Nature" class="w3-margin-bottom">
						</div>
					</div>
				</div>
				<div class="w3-container">
				<ul class="w3-ul w3-card-4">
					<li class="w3-padding-16">
						<span onclick="this.parentElement.style.display='none'" class="w3-button w3-white w3-xlarge w3-right">×</span>
						<img src="img_avatar2.png" class="w3-left w3-circle w3-margin-right" style="width:50px">
						<span class="w3-large">Mike</span><br>
						<span>Web Designer</span>
					</li>
					<li class="w3-padding-16">
						<span onclick="this.parentElement.style.display='none'" class="w3-button w3-white w3-xlarge w3-right">×</span>
						<img src="img_avatar5.png" class="w3-left w3-circle w3-margin-right" style="width:50px">
						<span class="w3-large">Jill</span><br>
						<span>Support</span>
					</li>
					<li class="w3-padding-16">
						<span onclick="this.parentElement.style.display='none'" class="w3-button w3-white w3-xlarge w3-right">×</span>
						<img src="img_avatar6.png" class="w3-left w3-circle w3-margin-right" style="width:50px">
						<span class="w3-large">Jane</span><br>
						<span>Accountant</span>
					</li>
				</ul>
				</div>
				<!-- End Middle Column -->
			</div>

			<!-- Right Column -->
			<div class="w3-col m2">
				<div class="w3-card-2 w3-round w3-white w3-center">
					<div class="w3-container">
						<p>Upcoming Events:</p>
						<img src="https://www.w3schools.com/w3images/forest.jpg" alt="Forest" style="width:100%;">
						<p><strong>Holiday</strong></p>
						<p>Friday 15:00</p>
						<p><button class="w3-button w3-block w3-theme-l4">Info</button></p>
					</div>
				</div>
				<br>


				<br>

				<div class="w3-card-2 w3-round w3-white w3-padding-16 w3-center">
					<p>ADS</p>
				</div>
				<br>

				<!-- End Right Column -->
			</div>

			<!-- End Grid -->
		</div>

		<!-- End Page Container -->
	</div>
	<br>